body {
  margin: 0;
  padding: 0;
}

.header {
  height: 500px;
  width: 100%;
  background: url('./watchtower-assets/header-gradient.png') no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.logo-div {
  background: url(./watchtower-assets/watchtower-logo.svg) center no-repeat;
  display: flex;
  justify-content: center;
  height: 340px;
  width: 100%;
}

.logo-text {
  color: white;
  font-family: Arial;
  font-size: 30pt;
  padding-top: 288px;
}

.form-input {
  display: flex;
  justify-content: center;
  margin: 30px 100px ;
}

.client-dropdown {
  height: 60px;
  width: 300px;
  background-color: #003D4D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin-right: 20px;
  padding-left: 8px;
}

.client-dropdown input {
  width: 95%;
  background-color: #003D4D;
  padding-top: 20px;
  padding-left: 6px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16pt;
}

.client-dropdown input:focus {
  outline: none;
}

.pdp-input {
  height: 60px;
  width: 700px;
  background-color: #003D4D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin-left: 20px;
}
